/***************VARIABLES**************/

/***************PRINCIPAL LIGHT BOX - HOME**************/

/***************image - HOME**************/

div.defaultForm {
  display: flex;
  flex-direction: column;
}

div.defaultForm label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

/***************buttonBox**************/
.buttonBox {
  /* margin: 1rem; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
