div.inviteBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.inviteContainer {
  margin: 0rem 5rem 1rem 5rem;
  width: 80%;
  padding: 5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0.5px 0.5px 3px var(--box-shadow-color);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.979);
}

.field {
  display: flex;
  flex-direction: column;
  margin: 0.5rem;
}

.inputInvite {
  margin-bottom: 1rem;
  padding-left: 1rem;
  width: 20rem;
  height: 3rem;
  border-radius: 5px;

  font-size: 1rem;

  border: none;
  outline: 0;
  background-color: var(--base-color);

  font-weight: 500;
  color: var(--font-color);
  transition: 0.3s;
}
.field textarea {
  padding: 8px;
  max-width: 100%;
  /* line-height: 1.5; */
  border-radius: 5px;
  border: 0.5px solid #ccc;
  box-shadow: 0.5px 0.5px 0.5px #999;
}
