h1.titleRegister {
  margin: 2rem 2rem 4rem 2rem;
}

#formRegister {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.defaultForm {
  display: flex;
  flex-direction: column;
  margin: 0 2rem 2rem 2rem;
}

div.defaultForm label {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
}

input.inputRegister,
select.inputRegister {
  padding: 1rem;
  width: 16.8rem;
  border-radius: 0.8rem;
}

button#createAcc {
  width: 13rem;
  margin: 0 2rem 2rem 2rem;
}
